html {
    background-color: blue;
}
h1 {
    color: rgb(15, 15, 15);
    }
    h2 {
        color: rgb(22, 179, 61);
    }
    h3 {
        color: darkred;
    }
body {
    background-color: chocolate;
}